*{
    font-family: sans-serif;
}
#in>#num>#otpbox{
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: space-around;
    justify-content: center;
}
#cdiv>input{
    margin:10px;
    height: 35px;
    width: 65px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.1rem;
    background: #eef2f3;
}
#main{
    display: grid;
    place-content: center;
    padding: 50px 0;
    /* border: 2px solid red; */
    place-self: center;
    
}
#in{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    place-items: center;
    border: 2px solid #eef2f3;
    height: 400px;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
#num{
    height: 50px;
    width: 200px;
    border-radius: 6px;
    border: 2px solid #10847E;
    font-size: 16px;
}
#continue{
    height: 50px;
    width: 180px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #10847E;
    background: #10847E;
}
#continue:hover{
    border: 2px solid black;
}
#num:hover{
    border: 2px solid black;
}
#i{
    /* border: 1px solid red; */
    margin-top: 100px;
    display: grid;
    place-items: center;
}
#c{
    /* border: 1px solid red; */
    margin-bottom: 20px;
}
#otpbox{
    margin-top: -100%;
    display: grid;
    place-items: center;
}
#Submit{
    height: 50px;
    width: 180px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #10847E;
    background: #10847E;
    margin-top: 20px;
}
#p{
    font-size: 20px;
    font-weight: 700;
}
#quick{
    margin-bottom: 50px;
    margin-top: -60px;
}
#count1{
    display: flex;
}
